<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Styles -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script>
      $(document).ready(function() {
      $('#atas').DataTable( {
          "searching":    false,
          "paging":       false,
          "info":         false,
          "lengthChange": false,
          scrollY:        '60vh',
          scrollCollapse: true,
          pageLength:     10,
          language:
          {
              url: "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese.json"
          },
      });
      });
  </script>

</head>
<body>

    <%- include('sidebar.ejs') %>

    <div class="container-fluid">
      <br><br>
      <div id="atas_div" class="cards-1 bg-gray text-center">
          <div class="container">
              <div class="row">
                  <div class="text-center">
                      <h2 class="h2-heading" style="color: black;">Registo de Atuador</h2>
                      <br>
                  </div> <!-- end of col -->
              </div> <!-- end of row -->
              <br> 
              <div class="row">
                  <div class="col-lg-12">
  
                  </div> <!-- end of col -->
                  <table id="atas" class="display">
                      <thead>
                          <tr class="text-black" style="color: black ;">
                            <th scope="col">Data</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Estado do Atuador</th>
                            <th scope="col">Modo do Actuador</th>
                          </tr>
                      </thead>
                        <tbody>
                            <% docs4.forEach(function(documento) { %>
                              <tr>
                                <td style="background-color: rgb(241, 241, 241); color:black" id="data<%= documento.id %>"></td>
                                <td id="hora<%= documento.id %>"></td>
                                <td><%= documento.Valor %></td>
                                <td><%= documento.Modo %></td>
                              </tr>
                            <% }); %>
             
                          <script>
                            // Função para atualizar a data e a hora atual em cada linha da tabela
                            function updateDateTime() {
                              var currentDate = new Date();
                              var day = String(currentDate.getDate()).padStart(2, '0');
                              var month = String(currentDate.getMonth() + 1).padStart(2, '0');
                              var year = String(currentDate.getFullYear()).slice(-2);
                              var hours = String(currentDate.getHours()).padStart(2, '0');
                              var minutes = String(currentDate.getMinutes()).padStart(2, '0');
                          
                              var dateTimeString = day + '/' + month + '/20' + year;
                              var timeString = hours + ':' + minutes ;
                          
                              // Atualiza a data e a hora em cada linha da tabela
                              <% docs4.forEach(function(documento) { %>
                                document.getElementById('data<%= documento.id %>').textContent = dateTimeString;
                                document.getElementById('hora<%= documento.id %>').textContent = timeString;
                              <% }); %>
                          
                              // Atualiza a data e a hora a cada segundo
                              setTimeout(updateDateTime, 1000);
                            }
                          
                            // Chama a função inicialmente para exibir a data e a hora atual
                            updateDateTime();
                          </script>
                      </tbody>
                  </table>
              </div> <!-- end of row -->
          </div>
      </div>
      </div> <!-- end of cards-1 -->
      <div class="">
        <div class=" text-center">
          <br><br><br>
          <form method="post" action="/atuador">
            <fieldset class="row mb-2 justify-content-center">
              <div class="col-sm-10">
                <div class="btn-group">
                  <label class="btn btn-success mr-2 " onclick="submitForm(0)" style="margin: 1em; padding: 1.5em;">
                    <input type="radio" name="gridRadios" value="0" autocomplete="off" hidden> Ligar Atuador
                  </label>
                  <label class="btn btn-danger mr-2" onclick="submitForm(1)" style="margin: 1em; padding: 1.5em;">
                    <input type="radio" name="gridRadios" value="1" autocomplete="off" hidden> Desligar Atuador
                  </label>
                </div>
                <script>
                  function submitForm(value) {
                    document.querySelector('input[name="gridRadios"]').value = value;
                    document.querySelector('form').submit();
                  }
                </script>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <br><br><br>
      <!-- Footer Start -->
      <div class="container-fluid pt-4 px-0">
        <div class="bg-secondary p-4 mt-4">
          <br>
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="footer-col first">
                  <h6>UNIDADE CURRICULAR</h6> 
                  <p>Gestão Planeamento de Redes</p>
                  
                  <h6>DOCENTE</h6> 
                  <p>Prof. Justino Lourenço</p>
                </div> <!-- end of footer-col -->
              </div> <!-- end of col -->
      
              <div class="col-lg-4" >
                <div class="footer-col second">
                  <h6>AUTORES</h6>
                  <ul class="list-unstyled li-space-lg p-small">
                    <li>André Silva</li>
                    <li>Filipe Sousa</li>
                    <li>Joaquim Ferreira</li>
                  </ul>

                </div> <!-- end of footer-col -->
              </div> <!-- end of col -->
      
              <div class="col-lg-4">
                <div class="footer-col third text-end">

                  <span class="fa-stack">
                    <a href="#your-link">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                  </span>
                  <span class="fa-stack">
                    <a href="#your-link">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                  </span>
                  <span class="fa-stack">
                    <a href="#your-link">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-pinterest-p fa-stack-1x"></i>
                    </a>
                  </span>
                  <span class="fa-stack">
                    <a href="#your-link">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fab fa-instagram fa-stack-1x"></i>
                    </a>
                  </span>
                  <br> <br>
                  <p class="p-small"><a href="mailto:contact@site.com"><strong>geral@HortaAutoSustentavel.pt</strong></a></p>
                </div> <!-- end of footer-col -->
              </div> <!-- end of col -->
            </div> <!-- end of row -->
          </div> <!-- end of container -->
          <br>
        </div>
      </div> <!-- end of footer -->
      </div>
    </div>

    <!-- JavaScript Libraries -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
</html>