<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Horta Auto-Sustentável</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
  <%
    docs1.sort(function(a, b) {
      var dataHoraA = a.Data + ' ' + a.Hora;
      var dataHoraB = b.Data + ' ' + b.Hora;
      if (dataHoraA > dataHoraB) return -1;
      if (dataHoraB > dataHoraA) return 1;
      return 0;
    });

    docs2.sort(function(a, b) {
      var dataHoraA = a.Data + ' ' + a.Hora;
      var dataHoraB = b.Data + ' ' + b.Hora;
      if (dataHoraA > dataHoraB) return -1;
      if (dataHoraB > dataHoraA) return 1;
      return 0;
    });

    docs3.sort(function(a, b) {
      var dataHoraA = a.Data + ' ' + a.Hora;
      var dataHoraB = b.Data + ' ' + b.Hora;
      if (dataHoraA > dataHoraB) return -1;
      if (dataHoraB > dataHoraA) return 1;
      return 0;
    });
  %>
  <br/>
  <h1>Horta Auto-Sustentável</h1>
<div class="container">
  <table class="data-table">
    <thead>
      <tr>
        <th colspan="3">Sensor de Líquidos</th>
      </tr>
      <tr>
        <th>Data</th>
        <th>Hora</th>
        <th>Líquidos</th>
      </tr>
    </thead>
    <tbody>
      <% docs1.forEach(function(documento) { %>
        <tr>
          <td><%= documento.Data %></td>
          <td><%= documento.Hora %></td>
          <td><%= Number(documento.Valor).toFixed(2) %> L/m²</td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <table class="data-table">
    <thead>
      <tr>
        <th colspan="3">Sensor de Pressão</th>
      </tr>
      <tr>
        <th>Data e Hora</th>
        <th>Hora</th>
        <th>Pressão</th>
      </tr>
    </thead>
    <tbody>
      <% docs2.forEach(function(documento) { %>
        <tr>
          <td><%= documento.Data %></td>
          <td><%= documento.Hora %></td>
          <td><%= Number(documento.Valor).toFixed(2) %> hPa</td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <table class="data-table">
    <thead>
      <tr>
        <th colspan="3">Sensor de Humidade do Solo</th>
      </tr>
      <tr>
        <th>Data e Hora</th>
        <th>Hora</th>
        <th>Humidade do Solo</th>
      </tr>
    </thead>
    <tbody>
      <% docs3.forEach(function(documento) { %>
        <tr>
          <td><%= documento.Data %></td>
          <td><%= documento.Hora %></td>
          <td><%= Number(documento.Valor).toFixed(1) %> %</td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
  
</body>
</html>